---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: my-otel-demo
  namespace: otel-demo
resources:
  - "helmsource.yaml"
  - "helmrelease.yaml"
  - "namespace.yaml"
  - "klc-pre-deploy.yaml"
  - "klc-post-deploy.yaml"